<div id="exceptionnals">
  <h1>Les exceptionnels</h1>
<p>Un évènement d'entreprise ? un mariage ou tout autre évènement familial ? Notre association vous propose une animation adaptée à vos envies :</p>
<p>Vous souhaitez vous sentir tel des seigneurs que l'ont honnore ? Nous vous proposons une escorte en arme ou une haie d'honneur.</p>
<p>Vous souhaitez une petite animation ponctuelle ? Nous pouvons vous proposer une animation de duel courtois et/ou une démonstration d'artillerie (tir à blanc)</p>
<p>Vous souhaitez une animation longue ? Nous vous proposons une explication et démonstration des armes et/ou de la médecine au moyen-âge.</p>
<p>Vous souhaitez des ateliers participatifs ? Vous pourrez reconstituer une troupe de hastiers combattant épaule contre épaule, être initier à l'escrime médiévale et au tir à l'arc.</p>
</div>
