<h1>Nos membres</h1>

<p id="intro">
  Les Lions de Flandre, ce sont surtout des passionnés qui cherchent à incarner des personnages qui auraient pu graviter autour de Pierre de Roubaix, tous ayant leur petite histoire dans la grande Histoire :
</p>

<div id="memberCards">


  <!-- Tassin -->
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>Theudbald de la Rosée <br><i>dit Tassin</i></mat-card-title>
      <mat-card-subtitle>
          Soldat
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../../assets/images/theudbald.jpg">
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut nisi non arcu pretium tincidunt sit amet id dolor. Curabitur malesuada massa sed nunc facilisis sagittis. Fusce eget laoreet mauris. Praesent bibendum dapibus lacinia. Nullam at congue est, at ullamcorper risus. Aenean lobortis auctor tempus. Nam in tincidunt lorem. Donec congue ante vel turpis aliquet, ut ultricies urna varius. Nullam id dignissim eros. Nunc ultricies eget lorem ut lobortis.
        Proin nibh mi, sodales eu tristique sed, auctor consectetur metus. Donec quis mauris vel ex semper porttitor. In facilisis quam quam, tempor sagittis purus maximus sit amet. Vivamus imperdiet nunc elit, mollis commodo enim fermentum sit amet. Duis accumsan venenatis leo id pharetra. Mauris malesuada laoreet vulputate. Pellentesque auctor lorem leo, et semper lectus eleifend quis. Nullam quis mollis nisi, non finibus neque. Donec blandit non dolor et fringilla. Integer nec risus dui. Morbi sapien lectus, fermentum non suscipit ac, eleifend quis orci. Etiam viverra feugiat tempor. Cras luctus libero fringilla tempus pulvinar. Suspendisse in finibus turpis. Nulla molestie interdum erat, id elementum nibh placerat eget. Nulla sodales nibh auctor bibendum posuere.
      </p>
    </mat-card-content>
  </mat-card>

  <!-- Martin -->
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>Martin Guerre <br><i>dit La Sieste</i></mat-card-title>
      <mat-card-subtitle>Sergent</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../../assets/images/martin.jpg">
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut nisi non arcu pretium tincidunt sit amet id dolor. Curabitur malesuada massa sed nunc facilisis sagittis. Fusce eget laoreet mauris. Praesent bibendum dapibus lacinia. Nullam at congue est, at ullamcorper risus. Aenean lobortis auctor tempus. Nam in tincidunt lorem. Donec congue ante vel turpis aliquet, ut ultricies urna varius. Nullam id dignissim eros. Nunc ultricies eget lorem ut lobortis.
        Proin nibh mi, sodales eu tristique sed, auctor consectetur metus. Donec quis mauris vel ex semper porttitor. In facilisis quam quam, tempor sagittis purus maximus sit amet. Vivamus imperdiet nunc elit, mollis commodo enim fermentum sit amet. Duis accumsan venenatis leo id pharetra. Mauris malesuada laoreet vulputate. Pellentesque auctor lorem leo, et semper lectus eleifend quis. Nullam quis mollis nisi, non finibus neque. Donec blandit non dolor et fringilla. Integer nec risus dui. Morbi sapien lectus, fermentum non suscipit ac, eleifend quis orci. Etiam viverra feugiat tempor. Cras luctus libero fringilla tempus pulvinar. Suspendisse in finibus turpis. Nulla molestie interdum erat, id elementum nibh placerat eget. Nulla sodales nibh auctor bibendum posuere.
      </p>
    </mat-card-content>
  </mat-card>

  <!-- Lotus -->
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>Yvan Durosel <br><i>dit Fleur de Lotus</i></mat-card-title>
      <mat-card-subtitle>Soldat</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../../assets/images/lotus.jpg">
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut nisi non arcu pretium tincidunt sit amet id dolor. Curabitur malesuada massa sed nunc facilisis sagittis. Fusce eget laoreet mauris. Praesent bibendum dapibus lacinia. Nullam at congue est, at ullamcorper risus. Aenean lobortis auctor tempus. Nam in tincidunt lorem. Donec congue ante vel turpis aliquet, ut ultricies urna varius. Nullam id dignissim eros. Nunc ultricies eget lorem ut lobortis.
        Proin nibh mi, sodales eu tristique sed, auctor consectetur metus. Donec quis mauris vel ex semper porttitor. In facilisis quam quam, tempor sagittis purus maximus sit amet. Vivamus imperdiet nunc elit, mollis commodo enim fermentum sit amet. Duis accumsan venenatis leo id pharetra. Mauris malesuada laoreet vulputate. Pellentesque auctor lorem leo, et semper lectus eleifend quis. Nullam quis mollis nisi, non finibus neque. Donec blandit non dolor et fringilla. Integer nec risus dui. Morbi sapien lectus, fermentum non suscipit ac, eleifend quis orci. Etiam viverra feugiat tempor. Cras luctus libero fringilla tempus pulvinar. Suspendisse in finibus turpis. Nulla molestie interdum erat, id elementum nibh placerat eget. Nulla sodales nibh auctor bibendum posuere.
      </p>
    </mat-card-content>
  </mat-card>

   <!-- Martin -->
   <mat-card>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>Martin Guerre <br><i>dit La Sieste</i></mat-card-title>
        <mat-card-subtitle>Sergent</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../../assets/images/martin.jpg">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut nisi non arcu pretium tincidunt sit amet id dolor. Curabitur malesuada massa sed nunc facilisis sagittis. Fusce eget laoreet mauris. Praesent bibendum dapibus lacinia. Nullam at congue est, at ullamcorper risus. Aenean lobortis auctor tempus. Nam in tincidunt lorem. Donec congue ante vel turpis aliquet, ut ultricies urna varius. Nullam id dignissim eros. Nunc ultricies eget lorem ut lobortis.
          Proin nibh mi, sodales eu tristique sed, auctor consectetur metus. Donec quis mauris vel ex semper porttitor. In facilisis quam quam, tempor sagittis purus maximus sit amet. Vivamus imperdiet nunc elit, mollis commodo enim fermentum sit amet. Duis accumsan venenatis leo id pharetra. Mauris malesuada laoreet vulputate. Pellentesque auctor lorem leo, et semper lectus eleifend quis. Nullam quis mollis nisi, non finibus neque. Donec blandit non dolor et fringilla. Integer nec risus dui. Morbi sapien lectus, fermentum non suscipit ac, eleifend quis orci. Etiam viverra feugiat tempor. Cras luctus libero fringilla tempus pulvinar. Suspendisse in finibus turpis. Nulla molestie interdum erat, id elementum nibh placerat eget. Nulla sodales nibh auctor bibendum posuere.
        </p>
      </mat-card-content>
    </mat-card>

      <!-- Lotus -->
  <mat-card>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>Yvan Durosel <br><i>dit Fleur de Lotus</i></mat-card-title>
        <mat-card-subtitle>Soldat</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../../assets/images/lotus.jpg">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut nisi non arcu pretium tincidunt sit amet id dolor. Curabitur malesuada massa sed nunc facilisis sagittis. Fusce eget laoreet mauris. Praesent bibendum dapibus lacinia. Nullam at congue est, at ullamcorper risus. Aenean lobortis auctor tempus. Nam in tincidunt lorem. Donec congue ante vel turpis aliquet, ut ultricies urna varius. Nullam id dignissim eros. Nunc ultricies eget lorem ut lobortis.
          Proin nibh mi, sodales eu tristique sed, auctor consectetur metus. Donec quis mauris vel ex semper porttitor. In facilisis quam quam, tempor sagittis purus maximus sit amet. Vivamus imperdiet nunc elit, mollis commodo enim fermentum sit amet. Duis accumsan venenatis leo id pharetra. Mauris malesuada laoreet vulputate. Pellentesque auctor lorem leo, et semper lectus eleifend quis. Nullam quis mollis nisi, non finibus neque. Donec blandit non dolor et fringilla. Integer nec risus dui. Morbi sapien lectus, fermentum non suscipit ac, eleifend quis orci. Etiam viverra feugiat tempor. Cras luctus libero fringilla tempus pulvinar. Suspendisse in finibus turpis. Nulla molestie interdum erat, id elementum nibh placerat eget. Nulla sodales nibh auctor bibendum posuere.
        </p>
      </mat-card-content>
    </mat-card>

    <!-- Tassin -->
  <mat-card>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>Theudbald de la Rosée <br><i>dit Tassin</i></mat-card-title>
        <mat-card-subtitle>
            Soldat
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../../assets/images/theudbald.jpg">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut nisi non arcu pretium tincidunt sit amet id dolor. Curabitur malesuada massa sed nunc facilisis sagittis. Fusce eget laoreet mauris. Praesent bibendum dapibus lacinia. Nullam at congue est, at ullamcorper risus. Aenean lobortis auctor tempus. Nam in tincidunt lorem. Donec congue ante vel turpis aliquet, ut ultricies urna varius. Nullam id dignissim eros. Nunc ultricies eget lorem ut lobortis.
          Proin nibh mi, sodales eu tristique sed, auctor consectetur metus. Donec quis mauris vel ex semper porttitor. In facilisis quam quam, tempor sagittis purus maximus sit amet. Vivamus imperdiet nunc elit, mollis commodo enim fermentum sit amet. Duis accumsan venenatis leo id pharetra. Mauris malesuada laoreet vulputate. Pellentesque auctor lorem leo, et semper lectus eleifend quis. Nullam quis mollis nisi, non finibus neque. Donec blandit non dolor et fringilla. Integer nec risus dui. Morbi sapien lectus, fermentum non suscipit ac, eleifend quis orci. Etiam viverra feugiat tempor. Cras luctus libero fringilla tempus pulvinar. Suspendisse in finibus turpis. Nulla molestie interdum erat, id elementum nibh placerat eget. Nulla sodales nibh auctor bibendum posuere.
        </p>
      </mat-card-content>
    </mat-card>


</div>
