<h1 id="membresTop">Nos membres</h1>

<p id="intro">
  Les Lions de Flandre, ce sont surtout des passionnés qui cherchent à incarner des personnages qui auraient pu graviter autour de Pierre de Roubaix, tous ayant leur petite histoire dans la grande Histoire :
</p>

<div id="memberCards">

  <mat-card *ngFor="let person of people;">
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>{{ person.name }}<br><i>{{ person.subName }}</i></mat-card-title>
      <mat-card-subtitle>{{ person.title }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="importPrefix + person.picture">
    <mat-card-content [innerHtml]="person.story">
    </mat-card-content>
  </mat-card>

</div>
