<div id="component">

  <!-- Animations -->
  <div id="animations">

    <h1>
      Nos animations
    </h1>
    <mat-divider></mat-divider>

    <!-- Card: Les camps -->
    <mat-card id="camps" class="tile">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon>flag</mat-icon>
        </div>
        <mat-card-title>Les camps</mat-card-title>
        <mat-card-subtitle>
          <mat-chip-list>
            <mat-chip>Vie de camp</mat-chip>
            <mat-chip>Batailles</mat-chip>
            <mat-chip>Ateliers</mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <!-- <img src="../../../assets/images/camp.jpg"> -->
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Détails</button>
        <button mat-button>Prochain évènement</button>
      </mat-card-actions>
    </mat-card>

    <!-- Card: Les écoles -->
    <mat-card id="ecoles" class="tile">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon>assignment</mat-icon>
        </div>
        <mat-card-title>Les écoles</mat-card-title>
        <mat-card-subtitle>
          <mat-chip-list>
            <mat-chip>Programme scolaire</mat-chip>
            <mat-chip>Démonstrations</mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <!-- <img src="../../../assets/images/ecole.jpg"> -->
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Détails & Contact</button>
      </mat-card-actions>
    </mat-card>

    <!-- Card: Les exceptionnels -->
    <mat-card id="exceptionnels" class="tile">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon>star_rate</mat-icon>
        </div>
        <mat-card-title>Les exceptionnels</mat-card-title>
        <mat-card-subtitle>
          <mat-chip-list>
            <mat-chip>Original</mat-chip>
            <mat-chip>Sur mesure</mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <!-- <img src="../../../assets/images/exceptionnel.jpg"> -->
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Détails & Contact</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <!-- Association -->
  <div id="association">
      <div class="fb-page" 
        data-href="https://www.facebook.com/LesLionsDeFlandres/" 
        data-tabs="timeline, events" 
        data-small-header="true" 
        data-adapt-container-width="true" 
        data-hide-cover="false" 
        data-show-facepile="false">
          <blockquote cite="https://www.facebook.com/LesLionsDeFlandres/" 
          class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/LesLionsDeFlandres/">Les Lions de Flandre</a>
          </blockquote>
        </div>
    <div id="intro">
      <h2>
        En bref
      </h2>
      <p>
        Association de reconstitution et d'animation médiévale militaire et artisanale du XVe siècle
      </p>
    </div>

    <!-- Div: Histoire détaillée -->
    <div id="history">
      Histoire détaillée
    </div>

    <!-- Div: Nos membres -->
    <div id="members">
      Nos membres
    </div>

    <!-- Div: Nous rejoindre -->
    <div id="join">
      Nous rejoindre
    </div>

  </div>

</div>