<div id="component">

  <!-- Animations -->
  <div id="animations">

    <h1>
      Nos animations
    </h1>

    <!-- Card: Les camps -->
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon>flag</mat-icon>
        </div>
        <mat-card-title>Les camps</mat-card-title>
        <mat-card-subtitle>
          <mat-chip-list>
            <mat-chip>Outdoor</mat-chip>
            <mat-chip>Batailles</mat-chip>
            <mat-chip>Ateliers</mat-chip>
            <mat-chip>Echanges</mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        img here
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Prochain évènement</button>
        <button mat-button>Contact</button>
      </mat-card-actions>
    </mat-card>


    <!-- Card: Les écoles -->
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon>assignment</mat-icon>
        </div>
        <mat-card-title>Les écoles</mat-card-title>
        <mat-card-subtitle>
          <mat-chip-list>
            <mat-chip>Programme scolaire</mat-chip>
            <mat-chip>Démonstration</mat-chip>
            <mat-chip>Echanges</mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        img here
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Contact</button>
      </mat-card-actions>
    </mat-card>

    <!-- Card: Les exceptionnels -->
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon>star_rate</mat-icon>
        </div>
        <mat-card-title>Les exceptionnels</mat-card-title>
        <mat-card-subtitle>
          <mat-chip-list>
            <mat-chip>Evènementiel</mat-chip>
            <mat-chip>Original</mat-chip>
            <mat-chip>Sur mesure</mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        img here
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Contact</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <!-- Association -->
  <div id="association">
    <h1>
      Notre association
    </h1>

    <div id="intro">
      <h2>
        En bref
      </h2>
      <p>
        Association de reconstitution et d'animation médiévale militaire et artisanale du XVe siècle
      </p>
    </div>

    <!-- Div: Histoire détaillée -->
    <div id="history">
      Histoire détaillée
    </div>

    <!-- Div: Nos membres -->
    <div id="members">
      Nos membres
    </div>

    <!-- Div: Nous rejoindre -->
    <div id="join">
      Nous rejoindre
    </div>

  </div>

</div>