#component{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

#animations, #association{
    max-width: 50%;
    min-width: min-content;
}

.tile{
    -webkit-box-shadow: 2px 5px 8px 3px rgba(0,0,0,0.41);
    -moz-box-shadow: 2px 5px 8px 3px rgba(0,0,0,0.41);
    box-shadow: 2px 5px 8px 3px rgba(0,0,0,0.41);
}

h1{
    font-family: 'Bebas-Neue-master';
    font-size: 0.3in;
    text-align: center;
    margin-bottom: 5px;
}

mat-card{
    min-width: 255px;
    margin: 15px;
    border-radius: 3px;
}

mat-card-title{
    font-size: large;
}

mat-card-subtitle{
    margin-left: -60px ;
}

mat-chip{
    font-size: smaller;
    margin: 0;
}

mat-card-content{
    background-image: url("../../../assets/images/camp.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    height: 150px;
}

#ecoles mat-card-content{
    background-image: url("../../../assets/images/ecole.jpg");
}

#exceptionnels mat-card-content{
    background-image: url("../../../assets/images/exceptionnel.jpg");
}

#flexTop{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    justify-content: space-around;
}

#flexTopRight{
    width: 50%;
    min-width: 220px;
}
#facebook{
    width: fit-content;
}

.rectangle{
    min-height: 100px;
}

