#component{
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
}

mat-card{
    min-width: 255px;
    margin: 15px;
}

mat-card-title{
    font-size: large;
}

mat-card-subtitle{
    margin-left: -60px ;
}

mat-chip{
    font-size: smaller;
    margin: 0;
}

mat-card-content{
    background-image: url("../../../assets/images/camp.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    height: 150px;
}

