<div id=component>
  <!-- NAVBAR -->
  <div id="navbar">

    <button mat-button>
      <mat-icon>home</mat-icon>
    </button>
    <button mat-button>
      <mat-icon>donut_large</mat-icon>
    </button>
    <button mat-button>
      <mat-icon>fingerprint</mat-icon>
    </button>
    <button mat-button>
      <mat-icon>person</mat-icon>
    </button>
    <button mat-button>
      <mat-icon>perm_media</mat-icon>
    </button>


  </div>

  <div id="page">

    <div id="banner">
      <div id="gif">
        <img id="bannerOne" src="../assets/images/banner.png">
        <img id="bannerTwo" src="../assets/images/bannersecond.png">
        <img id="bannerButton" src="../assets/images/bannerbutton.png">
      </div>
    </div>


    


    <router-outlet></router-outlet>

    <footer>
      Footer
    </footer>
  </div>
</div>