<div id=component>

  <mat-sidenav-container>
    <!-- Left Side Content -->
    <mat-sidenav-content (click)="sidenav.toggle()">
      <div id="leftSide">
        <div id="banner">
          <img src="../assets/images/banner_logo_def.png">
          <div>Les Lions de Flandre</div>
        </div>
      </div>
    </mat-sidenav-content>

    <!-- Right side content -->
    <mat-sidenav #sidenav mode="side" position="end">

      <header>
        <img src="../assets/images/banner_logo_def.png"> <span> Les Lions de FLandre</span>
      </header>
      
      <router-outlet></router-outlet>

      <footer>
        Footer
      </footer>

    </mat-sidenav>

  </mat-sidenav-container>

</div>