.mat-drawer-container {
    height: -webkit-fill-available;
    min-width: 600px;

}

mat-sidenav{
    width: 58%;
    min-width: 512px;
}

mat-sidenav-content{
    background-image: url("../assets/images/ldfbannerbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

#banner{
    background-color: gray;
    width: fit-content;
    position: absolute;
    bottom: 0px;
    margin-bottom: 150px;
    display: flex;
    flex: 0 0 auto;

    -webkit-box-shadow: 16px 22px 20px -4px rgba(0,0,0,0.8);
-moz-box-shadow: 16px 22px 20px -4px rgba(0,0,0,0.8);
box-shadow: 16px 22px 20px -4px rgba(0,0,0,0.8);
}

#banner img{
    width: 150px;
    height: 90px;
    object-position: top;
    object-fit: cover;
}

#banner div{
    font-family: 'Bebas-Neue-master';
    font-size: 0.5in;
    color: whitesmoke;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 30px;
    margin-left: 30px;
}

#leftSide{
    height: -webkit-fill-available;
}

#rightSide{
    -webkit-box-shadow: -9px 1px 45px 22px rgba(0,0,0,0.73);
    -moz-box-shadow: -9px 1px 45px 22px rgba(0,0,0,0.73);
    box-shadow: -9px 1px 45px 22px rgba(0,0,0,0.73);
}

#component{
    margin-left: -8px;
    margin-top: -8px;
    margin-right: -8px;
}

header{
    // background-color: gray;
    background: rgb(53,52,62);
background: linear-gradient(90deg, rgba(53,52,62,1) 60%, rgba(185,179,118,1) 97%, rgba(173,145,30,0.835171568627451) 100%);
}

header img{
    height: 30px;
    width: 50px;
    object-fit: cover;
    object-position: top;
    margin-left: 5px;
    margin-top: 5px;
}

header span{
    font-family: 'Bebas-Neue-master';
    font-size: 0.2in;
    color: whitesmoke;
    margin-right: 30px;
    margin-left: 15px;
    vertical-align: super;
}

footer{
    background-color: black;
}