// @media (max-width: 900px) {
//   #banner div{
//     display :none }
//  }

.mat-drawer-container {
    height: 100vh;
    min-width: 600px;
}

::ng-deep .mat-drawer-inner-container{
  height: fit-content !important;
  background-color: white;
}

@media (max-width: 512px) {
  mat-sidenav{
    width: 100% !important;
    min-width: 250px !important;
  }
}


mat-sidenav{
    width: 58%;
    min-width: 512px;
}

.slideshow{
  z-index: 1;

}



#logo{
  position: absolute;
  z-index: 2;
  width: 150px;
  height: auto;
  margin: 25px;
  // margin-left: 45%;
  // margin-bottom: -60px;
  filter: drop-shadow(0px 0px 3px rgb(200, 200, 200));

}

#bigTitle{
  width: 370px;
    bottom: 25px;
    margin-left: 25px;
  position: absolute;
  z-index: 2;
    font-family: 'Bebas-Neue-master';
    font-size: 0.7in;
    color: whitesmoke;
    position: absolute;
    left: 15px;
    // background-color: rgb(56, 56, 56);
    // border-radius: 15px;
    // width: 75%;
    // min-width: 355px;
    // margin:auto;
    height: fit-content;
    // text-align: center;
    // padding-top: 25px;

    // -webkit-box-shadow: 16px 22px 20px -4px rgba(0,0,0,0.8);
    // -moz-box-shadow: 16px 22px 20px -4px rgba(0,0,0,0.8);
    // box-shadow: 16px 22px 20px -4px rgba(0,0,0,0.8);
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
  }

#leftSide{
    height: -webkit-fill-available;
    cursor: pointer;
}

#rightSide{
    -webkit-box-shadow: -9px 1px 45px 22px rgba(0,0,0,0.73);
    -moz-box-shadow: -9px 1px 45px 22px rgba(0,0,0,0.73);
    box-shadow: -9px 1px 45px 22px rgba(0,0,0,0.73);
    background-color: black;
}


header{
  background: rgb(53,52,62);
}

header img{
    height: 30px;
    width: 50px;
    object-fit: cover;
    object-position: top;
    margin-left: 5px;
    margin-top: 5px;
}

header span{
    font-family: 'Bebas-Neue-master';
    font-size: 0.3in;
    color: whitesmoke;
    margin-right: 30px;
    margin-left: 15px;
    vertical-align: super;
    display: flex;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

header span:hover {
  cursor: pointer;
}


#returnButton2{
  position: fixed;
    right: 25px;
    top: 11px;
    font-family: 'Bebas-Neue-master';
    font-size: 0.175in;
    cursor: pointer;
    z-index: 10;
  }

  #returnButton2 span, #returnButton2 mat-icon{
    color: whitesmoke;
  }


#coontinueToSite{
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  right: 25px;
  bottom: 25px;
  font-family: 'Bebas-Neue-master';
  font-size: 0.3in;
  color: whitesmoke;
  cursor: pointer;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
}

#coontinueToSite .mat-icon{
  font-size: 0.4in;
  margin-bottom: 15px;
}

footer{
    background-color: rgb(0, 0, 0);
    color:grey;
    height: inherit;
}

.mat-raised-button{
  background-color: currentColor;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

footer ul {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  list-style: none;
}

footer span {
  font-weight: bold;
  margin-left: -15px;
  margin-bottom: 5px;
}

footer ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}

