<!-- Animations -->
<div id="animations">

  <!-- Card: Les camps -->
  <mat-card id="camps" class="tile">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>flag</mat-icon>
      </div>
      <mat-card-title>Les camps</mat-card-title>
      <mat-card-subtitle>
        <mat-chip-list>
          <mat-chip>Vie de camp</mat-chip>
          <mat-chip>Batailles</mat-chip>
          <mat-chip>Ateliers</mat-chip>
        </mat-chip-list>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content routerLink="/camps" routerLinkActive="active">
      Cliquez pour plus de détails !
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>Plus d'informations</button>
    </mat-card-actions> -->
  </mat-card>

  <div id="flexCard">

    <!-- Card: Les écoles -->
    <mat-card id="ecoles" class="tile">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon>assignment</mat-icon>
        </div>
        <mat-card-title>Les écoles</mat-card-title>
        <mat-card-subtitle>
          <mat-chip-list>
            <mat-chip>Programme scolaire</mat-chip>
            <mat-chip>Démonstrations</mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content routerLink="/schools" routerLinkActive="active">
        <p>
          Détails
        </p>
      </mat-card-content>
      <!-- <mat-card-actions>
      <button mat-raised-button>Plus d'informations</button>
    </mat-card-actions> -->
    </mat-card>

    <!-- Card: Les exceptionnels -->
    <mat-card id="exceptionnels" class="tile">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon>star_rate</mat-icon>
        </div>
        <mat-card-title>Les exceptionnels</mat-card-title>
        <mat-card-subtitle>
          <mat-chip-list>
            <mat-chip>Original</mat-chip>
            <mat-chip>Sur mesure</mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content routerLink="/exceptionnals" routerLinkActive="active">
        <p>
          Détails
        </p>
      </mat-card-content>
      <!-- <mat-card-actions>
      <button mat-button>Plus d'informations</button>
    </mat-card-actions> -->
    </mat-card>
  </div>
</div>