#animations{
    min-width: min-content;
    display: flex;
    flex-direction: column;
}

#flexCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

mat-card{
    min-width: 255px;
    margin: 15px;
    border-radius: 3px;
    flex-grow: 3;
    height: fit-content;
}

mat-card-title{
    font-size: x-large;
    font-family: 'Bebas-Neue-Master';
}

mat-card-subtitle{
    margin-left: -60px ;
}

mat-chip{
    font-size: smaller;
    margin: 0;
}

mat-card-content{
    background-image: url("../../../assets/images/camp.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    padding-top: 250px;   
    color: whitesmoke;
    text-align: center;
}

#ecoles mat-card-content{
    background-image: url("../../../assets/images/ecole.jpg");
}

#exceptionnels mat-card-content{
    background-image: url("../../../assets/images/exceptionnel.jpg");
}

.tile{
    -webkit-box-shadow: 2px 5px 8px 3px rgba(0,0,0,0.41);
    -moz-box-shadow: 2px 5px 8px 3px rgba(0,0,0,0.41);
    box-shadow: 2px 5px 8px 3px rgba(0,0,0,0.41);
}

.mat-card-content{
    font-family: 'Bebas-Neue-Master';
    color: whitesmoke;
    font-size: 2em;
    text-shadow: 2px 2px black;
}
